
.mainCtn{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.textCtn {
    color: aqua;
    
  }

  .textCtn > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }

  

  
  .editInput {

    width: 500px;
    height: 30px;
    padding: 0;
   margin: 0;
   box-sizing: border-box;
  }

  .buttonCtn{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }


.buttonCtn button {
    margin: 0 5px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 100px;
    margin-top: 50px;
    cursor: pointer;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
  }
  
  .imageContainer img {
    max-width: 350px;
    height: 350px;
    object-fit: cover; 
  }