.page {
  display: flex;
  flex-direction: column; 
  justify-content:space-evenly;
  align-items: center;

}

.mainText {
   color: white;
   margin-bottom: 0;
   width: 70%;

   
 }
 
 .artHub{
 font-size:84px;
 display: flex;
 justify-content:center;
 letter-spacing: 20px;
 border-bottom: 2px solid white;
 }


 .link {
   color: aqua;
   cursor: pointer;
   transition: color 0.5s ease;
 }
 
 /*.link:hover {
   color: purple;
 }*/
 
 .loginCtn {
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
 }
 
 .linkLogin, .linkSignup {
   color: aqua;
   margin-top: 10px;
 }
 
 /*.linkLogin:hover, .linkSignup:hover {
   color: purple;
 }*/
 
 .mainText {
   color: white;
   margin-bottom: 0;
 }
 
 .link {
   color: aqua;
   cursor: pointer;
   transition: color 0.3s ease;
 }
 
 /*.link:hover {
   color: purple;
 }*/
 
 .page {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   max-width: 80%;
   margin-left: 10%;
   height: 100%;
 }
 
 .loginCtn {
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
 }
 
 .linkLogin, .linkSignup {
   color: aqua;
   margin-top: 0px;
 }
 
 /*.linkLogin:hover, .linkSignup:hover {
   color: purple;
 }*/
 
 .orText {
   margin: 0 5px; 
   color: black;
 }

 a{
  text-decoration: none;
 }
 
 