.mainCtn{
display: flex;
flex-direction: column;
margin: auto;
border: 1px solid aqua;
border-radius: 30px;
padding-bottom: 30px;
width: 500px;
height: 580px;
color: aliceblue;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
color:aliceblue;
font-size: 48px;
font-weight: 700;
}

.inputs{
margin-top: 55px;
display: flex;
flex-direction: column;
}

.input{
display: flex;
align-items: center;
margin: auto;
width: 400px;
height: 40px;
border: 1px solid gray;
border-radius: 6px;
}

.input img{
    margin: 0px 30px;
    height: 20px; 
    filter: invert(70%) ;
}

.input input{
    height: 25px;
    width: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.submitCtn{
    display: flex;
    gap: 30px;
    margin: 60px auto;   
    width: 250px;
}

.submit{
display: flex;
justify-content: center;
align-items: center;
width: 220px;
color:aqua;
background-color: black;
border-radius: 50px;
font-size: 15px;
font-weight: 700;
cursor: pointer;
}

.submitGray{
display: flex;
justify-content: center;
align-items: center;
width: 220px;
background-color: black;
border-radius: 50px;
font-size: 15px;
font-weight: 700;
cursor: pointer;
}

.connectionCtn{
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 30px;
    background-color: aqua;
}
