.navbarCtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    position: fixed;
    border-bottom: 0.5px solid white;
    padding-left: 20px;
   
}

.linksContainer {
    display: flex;
    padding-right: 20px;
}

.link {
    color: aliceblue;
    margin-right: 20px;
}

.logo {
    margin-right: auto;
    color: aqua;
}
